//Variables
$bg: 'bg';
$card-bg: 'card-bg';
$text: 'text';
$text-secondary: 'text-secondary';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';

//Light mode
$bg--light: #fff;
$text--light: #000;
$text--2--light: #6c757d;
$brand--blue--light: #007bff;
$hover--light: #e9ecef;
$border--light: #dee2e6;

//Dark mode
$bg-dark: #313131;
$bg--dark--top: #313131;
$bg--dark--bottom: #000;
$text--dark: #fff;
$text--2--dark: #adb5bd;
$brand--blue--dark: #007bff;
$hover--dark: #212529;
$border--dark: #343a40;

$themes: (
  default: (
    //logo: url('../images/brand/logo_vertical.svg'),
    bg: $bg--light,
    text: $text--light,
    text-secondary: $text--2--light,
    link: $brand--blue--light,
    hover: $hover--light,
    border: $border--light,
    //Theme colors
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    danger: $danger,
    light: $light,
    dark: $dark,
  ),
  dark: (
    //logo: url('../images/brand/logo_vertical--invert.svg'),
    bg: $bg-dark,
    text: $text--dark,
    text-secondary: $text--2--dark,
    link: $brand--blue--dark,
    hover: $hover--dark,
    border: $border--dark,
    //Theme colors
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    danger: $danger,
    light: $light,
    dark: $dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
