.progress {
  position: relative;
  overflow: hidden;
  background: $progress-bg;
  border-radius: $progress-border-radius;
  width: $progress-width;
  height: $progress-height;
  &.sm {
    height: $progress-sm-height;
  }
  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
  &__indicator {
    @include flex-center;
    font-size:$progress-font-size;

    height: 100%;
    transition: $progress-indicator-transition;
    background: $primary;

    @each $color, $value in $theme-colors {
      &__#{$color} {
        @include element-variant($value, $value);
      }
    }
  }
}
